.block-1-tn-left h1{
  width: 496px;
  color: var(--Primary-text, #ffffff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 15px;
  margin-top: 30px;
}

.block-1-tn-left p{
  width: 496px;
  color: var(--Secondary-text, #b3b3b3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 30px;
}

.block-1-tn-left button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Green-primary, #70C174);
  backdrop-filter: blur(40px);
  border: none;
  color: white;
  cursor: pointer;
  transition: .2s;
}

.block-1-tn-left button:hover {
  background: var(--Green-primary, #446445);
}

.block-1-tn-left {
  margin-left: 100px;
}

.about-top-tn {
  display: flex;
  align-items: center;
  padding-top: 160px;
}

.ab-line-tn {
  width: 75px;
  height: 2px;
  background: rgb(255, 255, 255);
  margin-right: 25px;
}

.ab-line-p-tn {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container-tn {
  background: var(--Green-tertiary, #3a3a3a);
  height: 768px;
  flex-shrink: 0;
}

.block-1-tn-box {
  width: 592px;
  height: 576px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #2b2b2b;
}

.block-1-tn-card {
  display: flex;
  margin-left: 25px;
  margin-right: 60px;
  margin-top: 25px;
}

.block-1-tn-card img {
  width: 192px;
  height: 160px;
  flex-shrink: 0;
  margin-right: 25px;
}

.block-1-tn-card h2{
  width: 296px;
  color: var(--Primary-text, #ffffff);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.block-1-tn-card p {
  width: 296px;
  color: var(--Secondary-text, #b3b3b3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.block-1-tn-boss {
  display: flex;
  justify-content: space-between;
}

.block-2-tn-top p {
  width: 450px;
  color: var(--Secondary-text, #b3b3b3);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.block-2-tn-top h2 {
  width: 700px;
  color: var(--Primary-text, #ffffff);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 15px;
}

.block-2-tn-top {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}