.block-3-plastic-h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 50px;
}

.block-3-plastic-card {
  margin-bottom: 25px;
}

.block-3-left {
  display: flex;
  justify-content: space-between;

  height: 191px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Green-secondary, #BEF3C0);
}

.block-3-right {
  display: flex;
  justify-content: space-between;

  height: 191px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Green-secondary, #BEF3C0);
}