.block-1-plastic {
  padding-top: 160px;
  padding-bottom: 100px;
  background: #EFF7F2;
}

.block-1-plastic h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 50px;
}

.container-plastic {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 15px;
}

.block-1-plastic-box {
  display: flex;
}

.block-1-plastic-left {
  display: flex;
  margin-right: 50px;
}

.block-1-plastic-right {
  display: flex;
}

.block-1-plastic-left p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  align-items: center;
  margin-left: 10px;
}

.block-1-plastic-right p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  align-items: center;
  margin-left: 10px;
}