.block-2-plastic-h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 30px;
}

.block-2-plastic-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 30px;
}

.block-2-plastic-img {
  margin-bottom: 30px;
  border-radius: 14px;
}