.block-3 {
  margin-bottom: 100px;
}

.block-3-top {
  display: flex;
  align-items: center;
  margin-top: 160px;
}

.block-3-middle-left {
  margin-left: 100px;
  margin-top: 30px;
}

.img-list-block-3 {
  display: flex;
  justify-content: space-between;
}

.img1-block-3 {
  background-image: url(/main/img/png/img1-block-3.png);
  background-repeat: no-repeat;
  width: 411px;
  height: 421px;
  flex-shrink: 0;
  border-radius: 12px;
}

.img2-block-3 {
  background-image: url(/main/img/png/img2-block-3.png);
  background-repeat: no-repeat;
  width: 411px;
  height: 421px;
  flex-shrink: 0;
  border-radius: 12px;
}

.img3-block-3 {
  background-image: url(/main/img/png/img3-block-3.png);
  background-repeat: no-repeat;
  width: 411px;
  height: 421px;
  flex-shrink: 0;
  border-radius: 12px;
}

.block-3-h3-card {
  width: 315px;
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-top: 80px;
  margin-left: 50px;
}

.block-3-p-card {
  width: 315px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 15px;
  margin-left: 50px;
}

.block-3-btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #FFF;
  backdrop-filter: blur(40px);
  border: none;
  margin-top: 65px;
  margin-left: 50px;
  margin-bottom: 48px;
  cursor: pointer;
  transition: .2s;
}

.block-3-btn:hover {
  background: #6e6e6e;
}