.block-2-top {
  display: flex;
  align-items: center;
  margin-top: 160px;
}

.block-2-line {
  width: 75px;
  height: 2px;
  background: rgb(255, 255, 255);
  margin-right: 25px;
}

.block-2-line-p {
  color: var(--Primary-text, #1D2130);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.h2-block-2 {
  margin-bottom: 30px;
  width: 607px;
  color: var(--Primary-text, #1D2130);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: white;
}

.p-block-2 {
  margin-bottom: 30px;
  width: 608px;
  color: var(--Secondary-text, #b3b3b3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.lists-block-2 {
  display: flex;
}

.middle-block-2 {
  display: flex;
  justify-content: space-between;
}

.line-list-block-2 {
  width: 1px;
  height: 440px;
  background: #e2e2e2;
  margin-left: 100px;
}

.list-item-block-2 {
  margin-left: 25px;
}

.list-item-block-2 p {
  margin-left: 55px;
  margin-bottom: 25px;
  width: 384px;
  color: #b3b3b3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.img-h3-block-2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.img-h3-block-2 h3 {
  color: var(--Primary-text, #ffffff);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.img-h3-block-2 img {
  margin-right: 25px;
}

