.block-1-prj {
  padding-top: 160px;
  padding-bottom: 100px;
}

.block-1-prj-line {
  display: flex;
  
  align-items: center;
  margin-bottom: 30px;
}

.block-1-prj-line div{
  width: 78px;
  height: 2px;
  flex-shrink: 0;
  stroke-width: 2px;
  background: #ffffff;
  margin-right: 25px;
}

.block-1-prj-line p{
  color: var(--Primary-text, #ffffff);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.block-1-prj-top h1 {
  width: 832px;
  color: var(--Primary-text, #ffffff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 30px;
}

.block-1-prj-top p{
  width: 832px;
  color: var(--Secondary-text, #b3b3b3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 30px;
}

.block-1-prj-box {
  margin-left: 100px;
}

.container-prj {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 15px;
}

.block-1-prj-bottom h1{
  color: var(--Primary-text, #ffffff);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 15px;
}

.block-1-prj-bottom p{
  width: 832px;
  color: var(--Secondary-text, #b3b3b3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 15px;
}

.block-1-prj-bottom-ul{
  color: var(--Primary-text, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-left: 20px;
  margin-bottom: 15px;
}