.block-2-wwd {
  background: #EFF7F2;
  padding: 100px 0;
}

.block-2-wwd-h2 {
  color: var(--Primary-text, #1D2130);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 65px;
}

.block-2-wwd-card h3 {
  color: var(--Primary-text, #1D2130);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 24px;
  margin-bottom: 10px;
}

.block-2-wwd-card p {
  width: 332px;
  color: var(--Secondary-text, #525560);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-left: 50px;
}

.block-2-wwd-card-top {
  display: flex;
  align-items: flex-start;
}

.block-2-wwd-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.block-2-wwd-card {
  margin-bottom: 50px;
}