.block-1-wwd-top {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.block-1-wwd-line {
  width: 75px;
  height: 2px;
  background: black;
  margin-right: 25px;
}

.block-1-wwd-line-p {
  color: var(--Primary-text, #1D2130);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.block-1-wwd-text {
  margin-left: 100px;
}

.block-1-wwd-text h1{
  width: 461px;
  color: var(--Primary-text, #1D2130);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 35px;
}

.block-1-wwd-text p {
  width: 594px;
  color: var(--Secondary-text, #525560);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.block-1-wwd-box {
  display: flex;
  justify-content: space-between;
}

.block-1-wwd-box img{
  margin-top: 100px;
  margin-bottom: 100px;
}