.block-3-wwd-top h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.block-3-wwd-top  h2 {
  width: 700px;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.block-3-wwd-top {
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}