.header {
  height: 67px;
  background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logotype {
  font-size: 24px;
  font-weight: 800;
  width: 100px;
}

.header-logo {
  color: black;
  margin-top: 20px;
  font-weight: 800;
}

.header-ul {
  display: flex;
  display: inline-block;
}

.header-li {
  color: #525560;
  font-size: 16px;
  display: inline-block;
  margin-top: 24px;
  margin-left: 40px;
  cursor: pointer;
  transition: all 0.2s;
}

.header-li:hover {
  color: #000000;
}

.header-li-donate {
  padding: 12px 32px;
  background: #1D2130;
  color: white;
  display: inline-block;
  margin-top: 12px;
  margin-left: 40px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.header-li-donate:hover {
  background: #474747;
}