@import url(./header.css);
@import url(./footer.css);
/* home */
@import url(./home/home-bg.css);
@import url(./home/home-block-1.css);
@import url(./home/home-block-2.css);
@import url(./home/home-block-3.css);
@import url(./home/home-block-4.css);
@import url(./home/home-block-5.css);
@import url(./home/home-block-6.css);
@import url(./home/home-block-7.css);
@import url(./modal.css);
/* home */
/* know */
@import url(./know-about-us/know-block-1.css);
@import url(./know-about-us/know-block-2.css);
@import url(./know-about-us/know-block-3.css);
@import url(./know-about-us/know-block-4.css);
@import url(./know-about-us/know-block-5.css);
@import url(./know-about-us/know-block-6.css);
/* know */
/* wwd */
@import url(./what-we-do/wwd-block-1.css);
@import url(./what-we-do/wwd-block-2.css);
@import url(./what-we-do/wwd-block-3.css);
/* wwd */
/* media (tn) */
@import url(./top-news/tn-block-1.css);
/* media (tn) */
/* contact us */
@import url(./contact-us/con-us-block-1.css);
@import url(./contact-us/con-us-block-2.css);
@import url(./contact-us/con-us-block-3.css);
/* contact us */
/* donate */
@import url(./donate/donate-block-1.css);
@import url(./donate/donate-block-2.css);
@import url(./donate/donate-block-3.css);
/* donate */
/* project */
@import url(./our-project/prj-block-1.css);
@import url(./our-project/prj-block-2.css);
/* project */
/* climate */
@import url(./climate/climate-block-1.css);
/* climate */
/* plastic */
@import url(./plastic/plastic-block-1.css);
@import url(./plastic/plastic-block-2.css);
@import url(./plastic/plastic-block-3.css);
/* plastic */

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
}

body {
  background: #141414;
}