.block-5-know-container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
}

.block-5-know-box {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 60px 100px;
  border-radius: 12px;
}

.block-5-know-box-left h4 {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 60px;
  color: #FFF;
}

.block-5-know-box-left h2 {
  width: 427px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #FFF;
}

.block-5-know-box-left h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  color: #FFF;
}

.block-5-know-box-p-top  {
  width: 488px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
  margin-bottom: 30px;
  color: #ffffff;
}

.block-5-know-box-left-bottom {
  display: flex;
}

.block-5-know-box-left-bottom-1 {
  width: 120px;
  margin-right: 30px;
}

.block-5-know-p {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.6;
  color: #FFF;
}

.block-5-know-box-left img {
  border-radius: 12px 0px 0px 12px;
}