.block-4-know-top {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 50px;
}

.block-4-know-bottom {
  display: flex;
  justify-content: space-between;
}

.block-4-know-bottom img {
  width: 111.002px;
  height: 92px;
  flex-shrink: 0;
  margin-bottom: 15px;
}

.block-4-know-bottom h3 {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.block-4-know-bottom h4 {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.block-4-know-bottom p {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.block-4-know-union {
  display: flex;
  width: 40px;
  margin-right: 80px;
}

.block-4-know-union-middle {
  max-width: 40px;
  padding-bottom: 15px;
}

.block-4-img-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}