.block-6-know-h2 {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 100px;
}

.block-6-know-p {
  width: 519px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 15px;
  margin-bottom: 50px;
}

.block-6-know-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block-6-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-6-card img{
  border-radius: 8px;
}

.block-6-card h2{
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-top: 15px;
}

.block-6-card p {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.6;
  margin-top: 15px;
}

.block-6-know-icon {
  margin: 15px 0 50px 0;
}

.block-6-know-icons {
  display: flex;
  justify-content: center;
}

.block-6-know-icon-1 {
  margin-left: 20px;
  margin-right: 20px;
}
