.container-know-block-3 {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 15px;
}

.block-3-know-text {
  display: flex;
  justify-content: space-between;
}

.block-3-know-text h2 {
  width: 496px;
  color: var(--Primary-text, #ffffff);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.block-3-know-text h3 {
  color: var(--Primary-text, #ffffff);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.block-3-know-text p {
  width: 496px;
  color: var(--Primary-text, #b3b3b3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.block-3-know-bottom {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 15px;
  margin-bottom: 200px;
}