h1, h2, h3, h4, h5, h6{
	color: #1D2130;
}



p {
  color: #525560;
}

/* .burger-item-line1, .burger-item-line2, .burger-item-line3 {
  background: #000000;
} */



.block-1-contact-card-1-p-a, .block-2-prj-card h1, .block-1-prj-bottom-ul {
  color: #1D2130;
}

.ab-line, .block-2-line, .ab-line-tn, .block-1-prj-line div, .block-1-contact-line div, .block-1-donate-line {
  background: #1D2130;
}

.ab-line-p, .block-2-line-p, .ab-line-p-tn, .block-1-prj-line p, .block-1-contact-line p, .text-field_label {
  color: #1D2130;
}

.block-3-btn, .block-5-btn-right {
  color: #000;
}

.input-modal-1-con, .input-modal-2-con, .input-modal-3-con, .input-modal-33-con, .input-modal-4-con {
  color: #1D2130;
}

.burger-item-line1, .burger-item-line2, .burger-item-line3 {
  background: #1D2130;
}