h1, h2, h3, h4, h5, h6{
	color: #ffffff;
}

p {
  color: #b3b3b3;
}

a {
  color: #ffffff;
}

body {
  background: #141414;
}

.block-1-contact-card-1-p-a, .block-2-prj-card h1, .block-1-prj-bottom-ul {
  color: #ffffff;
}

.ab-line, .block-2-line, .ab-line-tn, .block-1-prj-line div, .block-1-contact-line div {
  background: rgb(255, 255, 255);
}

.ab-line-p, .block-2-line-p, .ab-line-p-tn, .block-1-prj-line p, .block-1-contact-line p, .text-field_label {
  color: #ffffff;
}

.about-bottom, .block-4-know-union-left, .block-4-know-union-right, .block-6-know-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
}

.block-3-btn, .block-5-btn-right {
  color: #000;
}

.block-2-wwd, .block-1-plastic, .container-tn {
  background: #2b4b37;
}

.block-2-prj, .block-1-contact {
  background: #1f2d47;
}

.input-modal-1-con, .input-modal-2-con, .input-modal-3-con, .input-modal-33-con, .input-modal-4-con {
  color: #ffffff;
}

.burger-item-line1, .burger-item-line2, .burger-item-line3 {
  background: #ffffff;
}
