.block-2-donate-left {
  width: 600px;
}

.block-2-donate-left h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 15px;
}

.block-2-donate-left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.block-2-donate-scroll-p {
  display: flex;
  margin-bottom: 25px;
}

.block-2-donate-box {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.block-2-donate-b1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  padding: 8px 24px 8px 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 3px;
  border-color: #88ff00;
  background: none;
  cursor: pointer;
}

.block-2-donate-b2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  padding: 8px 24px 8px 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: #ffffff;
  background: none;
  cursor: pointer;
}

.block-2-donate-b3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  padding: 8px 24px 8px 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: #ffffff;
  background: none;
  cursor: pointer;
}

.block-2-donate-scroll-p1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  width: 592px;
  display: block;
}

.block-2-donate-scroll-p2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  width: 592px;
  display: none;
}

.block-2-donate-scroll-p3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  width: 592px;
  display: none;
}