.block-1-donate-line {
  width: 78px;
  height: 2px;
  margin-right: 25px;
  background: #000;
}

.block-1-donate-line-box p {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}

.block-1-donate-line-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.block-1-donate {
  background: #EFF7F2;
  padding-top: 160px;
  padding-bottom: 100px;
}

.block-1-donate-text-box {
  margin-left: 100px;
}

.block-1-donate-text-box h1{
  width: 627px;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
}

.block-1-donate-text-box p {
  Width: 517px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #525560;
  margin-bottom: 30px;
}

.block-1-donate-button {
  width: Hug (149px);
  height: Hug (51px);
  top: 446px;
  left: 207px;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  gap: 10px;
  border: none;
  color: white;
  background: #70C174;
  cursor: pointer;
  transition: 0.2s;
}

.block-1-donate-button:hover {
  background: var(--Green-primary, #446445);
}

.block-1-donate-all-box {
  display: flex;
  justify-content: space-between;
}