.block-3-line {
  width: 100%;
  height: 2px;
  background: #646464;
  margin-bottom: 100px;
  margin-top: 100px;
}

.block-3-donate h1 {
  width: 380px;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
}

.block-3-donate p {
  width: 340px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.block-3-donate-box {
  display: flex;
  justify-content: space-between;
}