@media screen and (max-width: 1350px) {
  .block-7-left {
    margin-bottom: 30px
  }
  
  .block-7-cards {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .block-7-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  }

  .block-7-h3-2 {
    color: var(--Primary-text, #1D2130);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 250px;
    text-align: center;
  }

  .block-7-div-2-top h3 {
    margin-right: 0;
  }

  .block-7-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .block-7-div-2-top {
    justify-content: center;
  }

  .block-7-div-1 p {
    text-align: center;
    margin-left: 0;
    
  }

  .block-7-div-1 h3 {
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
  }
  
  .block-7-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    }
  
  .block-7-div-3 {
    margin-top: 0;
    margin-right: 0;
  }

  .block-7-div-2-top div {
    display: none;
  }

  .block-7-div-2-top {
    display: flex;
    margin-top: 0;
    text-align: center;
  }

  .our-event-btn {
    margin-bottom: 30px;
  }
    
}