@media screen and (max-width: 1350px) {
  .img-list-block-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-list-block-3-1100px {
    display: flex;
    
  }

  .img1-block-3 {
    margin-right: 35px;
  }

  .img3-block-3 {
    margin-top: 35px;
  }
}

@media screen and (max-width: 900px) {

  .img-list-block-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-list-block-3-1100px {
    display: flex;
    flex-direction: column;
  }

  .img1-block-3 {
    margin-right: 0px;
  }

  .img2-block-3 {
    margin-top: 35px;
  }


  .img3-block-3 {
    margin-top: 35px;
  }

  .container {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 15px;
  }

}

@media screen and (max-width: 750px) { 

  .block-3-middle-left {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .container {
    margin: 0 auto;
    max-width: 750px;
    padding: 0 15px;
  }

}

@media screen and (max-width: 500px) { 

  .block-3-middle-left {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .container {
    margin: 0 auto;
    max-width: 500px;
    padding: 0 15px;
  }

  .img1-block-3 {
    width: 390px;
  }
  
  .img2-block-3 {
    width: 390px;
  }
  
  .img3-block-3 {
    width: 390px;
  }
}