.text-field_label {
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #4e4e4e;
}

.input-modal-1-con-us {
  color: #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 368px;
  background: none;
  margin-right: 30px;
}

.input-modal-2-con-us {
  color: #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 368px;
  background: none;
}

.input-modal-3-con-us {
  color: #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 364px;
  background: none;
  margin-right: 30px;
}

.input-modal-33 {
  color: #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 368px;
  background: none;
}

.input-modal-4-con-us {
  color: #ffffff;
  width: 745px;
  height: 156px;
  flex-shrink: 0;
  border-radius: 4px;
  border-color: #414141;
  padding: 10px;
  background: none;
  resize: none;
}

.text-field_label-con {
  color: #ffffff;
}

.block-2-contact-box-button {
  display: flex;
  justify-content: center;
}

.modal-button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Green-primary, #70C174);
  backdrop-filter: blur(40px);
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.2s;
  color: #ffffff;
}

.modal-button:hover {
  background: #257e28;
}

.block-2-contact-box {
  max-width: 760px;
  height: 440px;
  top: 747px;
  left: 366px;
  border-radius: 4px;
  border: 1px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-2-contact-box-names {
  display: flex;
  margin-bottom: 30px;
}

.block-2-contact-box-obj {
  display: flex;
  margin-bottom: 30px;
}

.block-2-contact-container {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 15px;
}
