.about-top {
  display: flex;
  align-items: center;
  margin-top: 160px;
}

.container-block-1 {
  display: flex;
  justify-content: space-between;
}

.ab-line {
  width: 75px;
  height: 2px;
  background: black;
  margin-right: 25px;
}

.ab-line-p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-middle {
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.h2-block-1 {
  margin-bottom: 30px;
  width: 607px;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.p-block-1 {
  margin-bottom: 30px;
  width: 608px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.p2-block-1 {
  margin-bottom: 50px;
  width: 608px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.btn-block-1 {
  padding: 16px 32px;
  background: #70C174;
  display: inline-block;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: .2s;
  color: white;
}

.btn-block-1:hover {
  background: var(--Green-primary, #446445);
}

.about-img {
  margin-top: 100px;
  margin-left: 100px;
  max-width: 480px;
  max-height: 578px;
  flex-shrink: 0;
}

.about-img img {
  border-radius: 12px;
}

.about-bottom-p {
  margin-left: 60px;
  margin-top: 65px;
  margin-bottom: 35px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-bottom{
  padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

