.header-home {
  position: fixed;
  height: 67px;
  z-index: 1;
  width: 100%;
  transition: .2s linear;
}

.header_active {
  background: rgba(0, 0, 0, 0.5);
}

.header-container-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logotype-home {
  font-size: 24px;
  font-weight: 800;
  width: 100px;
  color: #fff;
  transition: 0.2s;
}

.logotype-home:hover {
  color: #707070;
}

.header-logo-home {
  margin-top: 15px;
  font-weight: 800;
}

.header-ul {
  display: flex;
  
}

.header-a-home {
  color: #fff;
	text-decoration: none;
  transition: 0.2s;
}

.header-a-home:hover {
	color: #707070;
}

.header-li-home {
  font-size: 16px;
  display: inline-block;
  margin-top: 24px;
  margin-left: 40px;
  cursor: pointer;
}

.header-li-donate-home {
  padding: 12px 32px;
  display: inline-block;
  margin-top: 12px;
  margin-left: 40px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  background: #70C174;
}

.header-li-donate-home:hover {
  background: var(--Green-primary, #446445);
}

.checkbox {
  position: relative;
  width: 54px;
  height: 30px;
  appearance: none;
  background: #f2f2f2;
  border-radius: 20px;
  transition: .5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0,.2);
  cursor: pointer;
}

.switch {
  margin-top: 20px;
  margin-left: 20px;
}


.checkbox:checked {
  background: #4f4f4f;
}

.checkbox::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0,.2);
  transition: .5s;
  transform: scale(1.2);
}

.checkbox:checked[type="checkbox"]::before {
  left: 29px;
  background: rgb(24, 23, 23);
}