.block-6-h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 50px;
}

.block-6-images {
  display: flex;
  justify-content: space-between;
}

.block-6-image img{
  width: 290px;
  border-radius: 12px;
}

.block-6-image h3{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-6-image p{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 100px;
}