.block-5-image {
  background-image: url(/main/img/png/block-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 30px;
}

.block-5-top {
  display: flex;
  justify-content: center;
  margin-bottom: 30px
}

.block-5-h3 {
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 631px;
}

.block-5-btn-left {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Green-primary, #70C174);
  backdrop-filter: blur(40px);
  border: none;
  cursor: pointer;
  margin-right: 30px;
  color: white;
}

.block-5-btn-right {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #FFF;
  backdrop-filter: blur(40px);
  border: none;
  cursor: pointer;
  
}

.block-5-bottom {
  display: flex;
  justify-content: center;
}

