.block-2-prj {
  background: #EBF0F9;
  padding: 100px 0;
  margin-bottom: 100px;
}

.block-2-prj-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.block-2-prj-card div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.block-2-prj-card h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 10px;
}

.block-2-prj-card p {
  width: 436px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 40px;
}

.block-2-prj-card1 p {
  padding-bottom: 50px;
}

.block-2-prj-card2 p {
  padding-bottom: 50px;
}